.searched-results-wrapper 
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    overflow-x: hidden;

    h1 
    {
        font-size: clamp(1rem, 2vw, 1.1rem);
    }

    .searched-results-container 
    {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
}