.categories-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0rem;
    button 
    {
        background: var(--categories);
        color: var(--color);
        border: none;
        padding: .5rem;
        font-size: clamp(.9rem, 2vw, 1rem);
        border-radius: .5rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px)
{
    .categories-container
    {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 500px)
{
    .categories-container
    {
        padding: 0rem 1rem 1rem 1rem;
    }
}