.card-container
{
    width: 320px;
    height: 255px;
    gap: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    .image 
    {
        width: 320px;
        height: 190px;
        position: relative;
    }

    .card-image
    {
        object-fit: cover;
        min-width: 320px;
        max-height: 190px;
        position: absolute;
        inset: 0;
        border-radius: 1rem;
    }

    h2 
    {
        font-size: clamp(.9rem, 2vw, 1rem);
        width: 100%;
    }

    p 
    {
        font-size: 1rem;
        font-weight: lighter
    }
}