.sentences-container
{
    padding-bottom: 0.5rem;
    button 
    {
        background: none;
        border: none;
        color: var(--color);
        font-size: 1rem;
        padding-top: .5rem;
        cursor: pointer;
    }

}