.channel-page-container
{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .channel-flex-container 
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    .more-details
    {
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        gap: 1rem;

        img 
        {
            object-fit: cover;
            clip-path: circle();
        }
    }

    .channel-info 
    {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        .description 
        {
            display: inline-block;
            width: 100%;
            margin-top: 1rem;
        }

        p 
        {
            max-width: 700px;
        }
        h3 
        {
            font-size: clamp(1.3rem, 3vw, 2.6rem);
        }
        .channel-flex 
        {
            padding-top: 1rem;
            ul 
            {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 1.5rem;
            padding-left: 1rem;
            }
        }
    }

    .channel-title
    {
        margin-top: 3rem;
        margin-bottom: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;

        h2 
        {
            font-size: clamp(1.1rem, 2vw, 1.3rem);
        }
    }
}
}

@media screen and (max-width: 570px)
{
    .channel-page-container
    {
       
        .channel-flex-container 
        {
            justify-content: center;
            align-items: center;
            padding: 1rem;

            .more-details
            {
                display: flex;
                justify-content: center;
                align-items: center;

                .description 
                {
                    max-width: 400px;
                }
            }
        }
    }
}