.player-container 
{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 1px 1px 1px var(--bgInput);    
}

@media screen and (max-width: 1100px)
{
    .react-player 
    {
        width: 100%!important;
        height: 300px!important;
    }
}

@media screen and (max-width: 470px)
{
    .react-player 
    {
        width: 100%!important;
        height: 230px!important;
    }
}

@media screen and (max-width: 340px)
{
    .react-player 
    {
        width: 100%!important;
        height: 170px!important;
    }
}